body {
  text-align: center;
  background-color: #000000;
  font-size: 20pt;
}

img {
  width: 500px;
  height: 500px;
}

.container.rowtwo {
  float: right;
}

.panel.panel-warning {
  width: 700px;
  height: 300px;
}

.panel.panel-info {
  width: 700px;
  height: 300px;
}

.about-me {
  text-align: left;
}

.well {
  background-color: #cccccc;
}
