body {
  text-align: center;
  background-color: #e6ffff;
}

img {
  width: 600px;
  height: 400px;
}

.container.rowtwo {
  float: right;
}

.panel.panel-warning {
  width: 700px;
  height: 300px;
}

.panel.panel-info {
  width: 700px;
  height: 300px;
}
